# Python/Django
*.pyc
*.pyo
__pycache__/
*.sqlite3
.env
.json
local_settings.py
media/
staticfiles/
# Ignore pyc but not migration .py files
**/migrations/*.pyc
**/migrations/__pycache__/

# Other common exclusions
*.log
.DS_Store
.idea/
.vscode/
venv/
.vscodium/

django-errors.log

*.sqlite3